html
	head
		include base/head.pug
		link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
		<!--(icono)-->
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet")
		<!--(highcharts)-->
		script(src='https://code.highcharts.com/highcharts.js')
		script(src='https://code.highcharts.com/modules/exporting.js')
		<!--(estilos)-->	
		link(rel="stylesheet",type="text/css",href="css/main.css")

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-6536106-1', 'auto');
			ga('send', 'pageview');

	body
		#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		nav#topNav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.page-scroll(href='#first')
						img(src='images/logo-callao-01.png', width='154px')
				#bs-navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a.page-scroll(href='#one') Intro
						li
							a.page-scroll(href='#two')
								| Organigrama 
								i.fa.fa-sitemap.fa-lg(aria-hidden='true')
						li
							a.page-scroll(href='#three')
								| Estadisticas 
								i.fa.fa-area-chart.fa-lg(aria-hidden='true')
						li
							a.page-scroll(href='#four')
								| linea de tiempo 
								i.fa.fa-arrows-h.fa-lg(aria-hidden='true')
						li
							a.page-scroll(href='#last')
								| mapa 
								i.fa.fa-map.fa-lg(aria-hidden='true')
					ul.nav.navbar-nav.navbar-right
						li
							.btn-redes
								.share-buttons-square
									span.fb
										a.fb-share-button(href='javascript: void(0);', onclick="window.open('http://www.facebook.com/sharer.php?u=http://larepublica.pe/data/chimpum-callao-auge-caida/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');")
											i.fa.fa-facebook(aria-hidden='true')
										//
											a.fb-share-button.fb-icon.popup-fb(href='https://www.facebook.com/sharer.php?u=http://larepublica.pe/data/chimpum-callao-auge-caida/', target="_blank", data-layout='button_count')
											i.fa.fa-facebook(aria-hidden='true')
									span.twiter
										a.fa.fa-twitter(aria-hidden='true', href='https://twitter.com/share', data-text='Chimpum callao auge caída | Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político.', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
										script.
											!function(d,s,id){
											var js,
											fjs=d.getElementsByTagName(s)[0],
											p=/^http:/.test(d.location)
											?'http'
											:'https';
											if(!d.getElementById(id)){
											js=d.createElement(s);
											js.id=id;
											js.src=p+'://platform.twitter.com/widgets.js';
											fjs.parentNode.insertBefore(js,fjs);}
											}(document, 'script', 'twitter-wjs');
						li
							a.page-scroll(target="_blank" href='http://larepublica.pe/')
								img(src='images/logo_lr.png', width='154px')
		header#first
			.header-content
				.inner
					img(src='images/logo-callao-01.png', width='60%')
					h2
						| Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político, que pasa de las urnas a los tribunales.
					hr
			.fillWidth.fadeIn.wow.collapse.in
				img.mySlides.video-background(src='images/slide00.jpg')
				img.mySlides.video-background(src='images/slide01.jpg')
				img.mySlides.video-background(src='images/slide02.jpg')
				img.mySlides.video-background(src='images/slide03.jpg')
				img.mySlides.video-background(src='images/slide04.jpg')
		section#one.bg-primary
			.container
				.row
					.col-lg-7.col-lg-offset-3.col-md-8.col-md-offset-2.text-center
						h2.margin-top-0.text-primary Una fórmula ganadora en problemas
						br
						p.text-faded
							| El éxito de Chimpum se basó en candidatos hábiles, una maquinaria de operadores y una oposición débil, según el politólogo José Carlos Rojas, estudioso del movimiento chalaco. Pero anota que la fórmula se desbordó.
						.text-center
							iframe(src="https://www.youtube.com/embed/E35RnUzMMjE?ecver=1" frameborder="0" allowfullscreen)

		section#two
			.container
				.row
					.col-lg-12.text-center
						h2.margin-top-0.text-primary La cúpula en la mira de la justicia
						hr.primary
						p Su presidente está preso y la plana mayor registrada en el JNE es investigada por la Fiscalía
			.container.text-center
				.organi-lg
					include base/organi-md.pug
				.organi-responsive
					include base/organi-sm.pug	
		section#three
			.container
				h2.text-primary Hegemonía chimpunera, competidores lejanos
				.row
					.col-md-12
						#container(style='min-width: 310px; height: 400px; margin: 0 auto')
				br
				.row
					.col-md-12
						#container-1(style='padding-top: 50px; min-width: 310px; height: 400px; margin: 0 auto')
		section#four.container-fluid.no-padding
			.container
				h2.text-primary Diez momentos en la historia de Chimpum Callao 
			div
				img.line-lg(src='images/line-lg.png')
				img.line-md(src='images/line-md.png')
				img.line-xs(src='images/line-xs.png')
		section#last
			.mapa
				.container
					h2.text-primary Autoridades chalacas electas por Chimpum Callao
					.row 
						.col-md-3
							img(style="padding: 20px 0;" width="100%" src='images/mori.jpg')
						.col-md-9
							h3 Walter Mori Rodríguez, gobernador regional del Callao
							p Encargado del Gobierno Regional luego de la suspensión de Félix Moreno  por su prisión preventiva. Enfrenta una inhabilitación para la función pública impuesta por la Contraloría por supuestas contrataciones fantasma cuando fue presidente del Cafed, entidad del Gobierno Regional para proyectos educativos. La Fiscalía lo investiga por este caso y por la refacción del Instituto Simón Bolívar, en Bellavista, por aprobar partidas que ya se habrían ejecutado. Saldría del cargo cuando retorne Moreno.
					.row
						.col-md-offset-1.col-md-6.col-sm-5
							svg#canada-map(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='50 15 500 590', cy='300', r='400')
								g#Alberta
									title Juan Sotomayor García, alcalde provincial del Callao
									desc
										image(xlink:href='sotomayor.jpg', scr='asstes/sotomayo.jpg', alt='A lake surrounded by mountains')
										p
											| Retirado de movimiento Chimpum en 2012 por el caso del chuponeo, formó su partido Vamos Perú. En el 2014 ambos grupos fueron en alianza con el nombre de Chimpum. La Fiscalía lo investiga por presunta interceptación telefónica ilegal y en el Callao archivó el caso del reparto de panetones con su nombre y foto presuntamente con vehículo municipal.
									path(d='M345.588,522.419c-3.686,0.649-7.458,0.323-11.138,0.903c-9.16,1.444-18.338,2.578-27.541,3.721   c0.123-5.763-0.596-11.087,0.803-16.689c1.149-4.597,9.968-7.038,13.885-8.438c-2.145-2.413-6.662-5.755-7.768-8.741   c-1.41-3.807,1.227-7.827,3.25-10.639c5.26-7.304,9.616-14.513,12.329-23.191c0.93-2.977,3.896-7.065,2.308-9.605   c-2.887-4.621-5.16-7.237-9.323-10.759c-2.782-2.352-4.178-7.107-5.274-10.527c-1.195-3.729-8.087-0.438-10.088,1.182   c-1.648-3.324-4.033-5.837-5.827-9.007c-0.387-0.683-0.934-3.628-1.715-3.628c-2.669,0-5.338,0-8.007,0   c-3.083,0-4.544-4.37-6.14-6.738c-3.297-4.895-6.91,0.273-9.562,2.666c-1.095,0.986-7.957,1.64-8.677,0.56   c-1.548-2.322-6.443-7.247-6.443-9.982c0-4.976,0.302-5.916,3.24-9.916c2.584-3.519,3.591-6.711,4.995-10.896   c1.044-3.116,3.351-5.365,4.352-8.54c1.306-4.144,2.228-7.695,2.49-12.038c0.264-4.396-1.618-5.94-4.242-9.537   c-1.737-2.38-9.021,0.035-10.834-2.158c-1.036-1.254-0.259-8.926,0-10.683c0.463-3.136,3.684-7.327,2.842-10.425   c-2.175-7.998-2.363-15.787-5.947-23.13c-2.871-5.881-8.225-10.426-12.007-15.927c-1.846-2.686-3.734-5.212-5.78-7.751   c-0.479-0.593-0.966-2.727-1.165-2.733c-1.892-0.066-3.784-0.135-5.676-0.201c-2.651,0.097-20.878-1.155-19.094,4.488   c2.412,7.628,5.131,15.22,7.252,22.932c4.212,15.315,7.256,29.796,7.924,45.573c0.725,17.135,0.158,33.762-0.622,50.917   c-0.319,7.015-0.915,13.188-2.251,20.078c-1.675,8.639-4.162,15.296-7.708,23.399c-2.532,5.783-6.039,11.171-8.865,16.822   c-3.512,7.024-8.225,11.026-14.25,16.011c-1.813,1.5-0.813,5.03-0.813,7.242c0,5.121,0,10.243,0,15.365   c0,3.847-0.137,3.602,3.843,3.602c3.535,0,7.069,0,10.604,0c-0.252,5-0.509,10.719-1.457,16.23   c-2.104-2.297-4.208-4.706-6.313-7.003c-2.606,6.668-4.365,13.573-6.373,20.441c-0.835,2.854-0.512,5.771-0.512,8.737   c0,0.688-7.617,0.302-8.654,0.302c0.428,0.78,3.247,5.008,2.733,5.476c-2.303,2.083-4.607,4.164-6.911,6.248   c-3.682,3.332-8.015,6.072-11.997,9.035c2.16,1.31,4.505,2.239,5.862,4.392c2.201,3.493,3.464,2.153,7.498,1.42   c7.32-1.329,11.052-1.033,18.364,0.592c10.304,2.292,20.436,3.455,31.065,3.455c-3.093-5.15-5.659-11.254-5.827-17.427   c-0.182-6.682,3.783-5.753,8.918-6.73c15.174-2.886,30.348-5.771,45.521-8.658c15.643-2.975,31.285-5.949,46.928-8.924   c3.731-0.709,7.48-1.172,11.248-1.675c4.231-0.565,8.462-1.13,12.692-1.695c2.351-0.315,4.259-3.782,5.795-5.474   C352.388,521.74,351.463,521.383,345.588,522.419z')
									path(d='M365.771,523.898c-1.101-1.619-4.388-3.117-6.02-4.292c-2.001-1.441-4.125-2.622-6.67-2.475   c-1.378,0-2.217-3.662-2.725-4.619c-0.618-1.163-1.509-2.272-2.872-2.553c0.057-1.071,0.216-2.14,0.364-3.201   c0.341-2.44,0.8-4.904,0.839-7.375c0.082-5.144-4.523-4.434-8.237-3.336c-5.553,1.642-16.756,1.675-20.166-4.399   c-1.895-3.375,3.332-6.902,5.013-9.235c3.179-4.414,6.065-9.042,8.305-14.009c1.262-2.798,2.323-5.683,3.238-8.612   c0.787-2.518,2.389-4.737,2.771-7.391c0.617-4.292-4.5-9.222-7.344-11.962c-3.173-3.058-5.428-5.634-7.563-9.547   c-1.697-3.11-2.711-6.913-4.603-9.855c-1.587-2.47-4.966-1.906-7.298-1.074c-1.125,0.4-2.213,0.914-3.243,1.518   c-0.745-1.242-1.607-2.406-2.474-3.565c-1.414-1.891-3.359-7.915-5.986-7.915c-2.281,0-5.429,0.604-7.618,0   c-4.219,0-3.908-9.051-9.211-9.051c-2.882,0-5.03,2.591-6.904,4.433c-1.311,1.289-3.73,1.245-5.461,1.245   c-2.685,0-5.23-4.405-5.185-6.991c0.021-1.194,2.073-2.333,2.792-3.145c1.753-1.978,3.215-4.225,4.322-6.623   c2.001-4.34,3.533-8.521,5.779-12.764c2.353-4.446,2.775-10.095,3.291-15.017c0.476-4.54,0.479-8.177-2.362-11.966   c-1.52-2.026-2.621-3.792-5.331-4.105c-2.165-0.25-4.384,0.169-6.533-0.214c-2.307-0.41-0.786-8.142-0.534-9.846   c0.291-1.967,2.523-2.883,2.922-4.877c0.467-2.34-0.967-5.4-1.527-7.65c-1.406-5.651-2.731-11.348-4.596-16.871   c5.07,1.772,10.147,2.866,14.803,5.661c4.77,2.864,9.204,6.316,14.912,6.912c5.276,0.552,10.733,0.115,16.023-0.052   c1.59-0.05,5.861,0.698,6.973-0.669c0.994-1.225-0.364-4.738-0.569-6.183c-1.273-8.956-2.726-17.838-4.686-26.685   c-0.73-3.293-1.468-6.901-3.248-9.82c-1.398-2.292-4.017-2.123-5.628-3.995c-2.207-2.563-1.035-7.291,1.903-8.408   c4.436-1.688,8.641-2.156,12.301-5.466c4.028-3.641,3.005-7.994,4.577-12.631c1.441-4.252,3.902-7.677,7.328-10.505   c3.6-2.971,2.824-9.291,2.936-13.546c0.035-1.33,0.435-4.248-0.964-5.141c-1.207-0.771-3.008-0.872-4.352-1.331   c-1.218-0.415-0.751-1.549-0.751-2.733c0-3.078-0.295-6.39,0.765-9.331c1.026-2.847,6.356-6.549,5.959-9.501   c-0.302-2.245-1.728-4.416-2.183-6.697c-0.541-2.714-0.777-5.474-1.209-8.205c-0.374-2.36,0.611-4.836,0.592-7.219   c-0.016-2.022-0.009-4.058-0.214-6.072c-0.135-1.323-0.694-2.279-0.99-3.527c-0.54-2.276-0.085-4.647-1.042-6.854   c-2.033-4.684-0.946-9.763-2.45-14.492c-1.607-5.054-5.889-9.703-9.325-13.62c-3.374-3.845-9.045-6.982-9.151-12.365   c-0.062-3.081,0.25-6.147,0.25-9.224c0-1.805,1.2-14.846-1.969-13.805c-2.64,0.868-5.487,1.138-8.215,1.614   c-2.285,0.399-2.507-1.258-3.422-3.035c-0.863-1.675,0.124-4.119-0.458-5.942c-0.543-1.702-3.441-3.417-4.953-4.222   c0.669-2.532-0.521-6.885-0.778-9.649c-0.245-2.644-0.248-7.018-2.148-9.121c-0.971-1.077-2.259-1.75-3.728-1.431   c-0.203,0.044-0.989,0.403-1.211,0.232c-1.531-1.177-2.292-3.126-3.972-4.301c-2.66-1.862-3.147-3.212-3.147-6.34   c0-5.984,1.797-14.888-2.734-19.383c-4.688-4.654-9.542-9.447-14.591-13.705c-2.089-1.762-4.522-3.008-6.792-4.504   c-2.217-1.462-3.916-3.616-6.383-4.688c-4.508-1.958-10.987-2.89-15.877-2.448c-2.4,0.217-4.773,0.949-7.191,0.903   c-2.5-0.047-4.837-1.093-7.345-1.093c-2.892,0-5.702,1.05-8.6,0.815c-2.542-0.206-4.461,0.173-6.847,1.121   c-2.86,1.137-5.116,1.12-8.096,1.12c-7.22,0-13.953-0.587-20.253,3.826c-1.918,1.344-5.62,6.174-8.142,6.174c-1.2,0-2.4,0-3.6,0   c-12.243,0-24.485,0-36.728,0c-3.365,0-7.574-0.605-10.876,0.336c-2.28,0.65-3.53,2.435-5.315,3.818   c-2.217,1.718-4.158,1.186-6.717,0.759c-3.982-0.665-4.357,2.76-4.402,5.875c-0.03,5.085-0.186,10.681,2.185,15.337   c0.983,1.932,3.041,3.201,3.895,5.126c0.632,1.424-1.419,3.059-2.204,3.944c-3.76,4.24-3.06,9.166-2.89,14.407   c0.152,4.696,5.862,2.963,9.238,3.046c-0.112,5.556,6.411,7.623,11.097,8.257c2.918,0.395,5.854-0.191,8.681,0.899   c3.208,1.237,6.071,3.54,9.125,5.127c12.251,6.367,18.433,20.621,22.778,32.835c1.366,3.838,2.553,7.801,4.303,11.486   c1.574,3.317,4.111,6.341,5.271,9.824c1.673,5.024,1.059,10.789,0.781,15.978c-0.113,2.104-0.721,4.875,0.127,6.881   c0.935,2.212,2.755,4.067,4.221,5.928c3.295,4.185,5.586,9.361,8.215,13.978c2.089,3.671,5.006,6.727,7.371,10.21   c1.257,1.852,2.769,4.187,2.604,6.537c-0.957,2.015-1.815,4.079-2.688,6.131c-1.177,2.771-4.186,7.268-4.001,10.434   c0.087,1.503,3.121,4.112,3.942,5.422c4.725,7.538,8.459,15.902,9.384,24.798c0.633,6.094,0.796,12.482,3.191,18.215   c1.604,3.839,4.301,7.12,5.552,11.129c1.389,4.45,1.729,9.249,2.376,13.843c0.172,1.223,0.31,2.472,0.605,3.673   c0.24,0.978,1.42,0.995,1.618,1.595c4.048,12.286,7.725,24.752,10.759,37.331c3.15,13.062,3.936,26.044,3.822,39.441   c-0.186,21.92,0.356,46.297-8.164,66.909c-2.455,5.938-5.166,11.796-7.827,17.645c-2.074,4.558-3.986,9.625-6.891,13.727   c-2.583,3.648-7.27,4.912-9.951,8.352c-2.047,2.626-2.035,6.82-2.035,9.984c0,5.536,0,11.073,0,16.61   c0,1.939-0.493,4.95,0.683,6.543c1.499,2.029,6.94,1.128,9.083,1.17c-2.434,0.133-3.183,0.208-4.06,2.568   c-0.884,2.38-1.673,4.795-2.414,7.223c-1.445,4.738-3.531,9.897-3.979,14.841c-0.128,1.413,0.709,5.086-0.873,5.13   c-2.104,0.059-4.203-0.093-6.306-0.093c-4.235,0,1.692,5.896,1.048,6.479c-1.589,1.437-3.179,2.874-4.768,4.312   c-2.125,1.921-3.497,4.264-5.376,6.394c-2.033,2.304-6.664-4.427-9.47-1.074c-1.724,2.057-2.31,6.672-1.012,9.019   c-2.023,0.612-3.277,0.278-4.463-1.468c-0.968-1.427-1.983-3.571-3.987-2.214c-3.557,2.408-6.794,5.748-9.293,9.219   c-3.144,4.365-8.357,11.748-4.828,16.829c1.348,1.939,3.002,3.928,5.205,4.921c2.266,1.025,4.722-0.934,6.827-1.515   c2.882-0.796,7.188,2.313,10.521,2.252c7.347-0.135,16.784-1.396,19.586-9.392c0.793-2.263,1.269-4.281,0.794-6.684   c2.112-1.055,4.47-1.064,6.774-1.209c3.406-0.214,6.607-0.206,9.976,0.379c9.559,1.661,19.164,2.176,28.032,6.269   c9.059,4.182,18.952,7.516,27.334,12.993c3.665,2.395,7.439,4.648,11.335,6.645c2.708,1.388,6.067,3.341,9.212,3.341   c6.203,0,3.195-5.408,6.409-7.801c4.803-3.573,9.148-6.104,12.757-11.148c3.593-5.022,4.654-9.264,4.532-15.378   c-0.024-1.224-0.29-3.744,1.39-4.063c2.854-0.543,5.73-0.972,8.623-1.242c4.84-0.452,9.7-0.371,14.55-0.606   c3.83-0.186,10.744,0.187,14.001-1.923c2.64-1.709,1.587-7.484,1.406-9.973c-0.342-4.678-1.243-9.556-0.829-14.251   c0.221-2.506,11.854-3.232,14.355-3.679c4.976-0.888,7.773-1.299,11.307-5.173C362.568,529.386,366.944,525.624,365.771,523.898z    M358.192,529.674c-3.204,3.247-8.456,3.007-12.76,3.792c-2.601,0.474-10.143,0.348-11.714,2.848   c-2.141,3.408-0.637,9.62-0.308,13.307c0.278,3.104,1.63,8.436,0.218,11.372c-10.014,1.88-20.123,1.14-30.179,2.435   c-5.475,0.706-9.703,1.085-9.68,7.469c0.02,5.301-0.363,8.821-3.401,13.313c-3.324,4.912-7.358,7.829-12.219,10.98   c-1.499,0.971-2.515,2.379-2.826,4.144c-0.197,1.117,0.113,2.704-1.22,3.146c-3.156,1.048-7.812-2.206-10.411-3.598   c-4.597-2.459-8.809-5.573-13.422-7.98c-5.501-2.871-11.256-5.266-16.922-7.788c-5.059-2.252-10.159-5.341-15.594-6.54   c-5.143-1.135-10.427-1.094-15.583-2.189c-3.569-0.758-7.181-1.506-10.845-1.506c-3.859,0-8.525-0.063-12.061,1.634   c-2.17,1.042-1.972,2.021-1.65,4.132c0.24,1.569-0.355,3.084-0.897,4.538c-2.568,6.878-12.773,7.683-19.036,7.135   c-4.735-0.415-6.361-3.33-11.343-1.208c-3.732,1.593-5.529-1.622-7.379-4.633c2.095-7.807,7.226-14.918,13.586-19.797   c1.305,2.09,2.724,3.734,5.313,3.934c1.791,0,6.482-0.623,5.625-3.563c-0.7-2.399-1.586-3.882-0.25-6.575   c2.709,0.024,5.083,3.8,7.982,2.22c2.47-1.346,3.305-4.39,5.318-6.211c1.028-0.929,2.055-1.858,3.083-2.787   c3.307-2.991,5.413-3.906,2.73-8.411c2.826,0.07,7.499,1.035,7.426-2.881c-0.081-4.351,0.622-7.853,1.807-12.037   c1.403-4.955,2.809-9.919,4.634-14.739c1.629-0.15,7.915,1.392,8.132-0.989c0.082-0.901-0.584-4.053-1.246-4.637   c-1.183-1.043-4.458-0.437-6.001-0.465c-1.396-0.025-6.548,0.727-6.591-1.022c-0.086-3.457-0.009-6.925-0.009-10.382   c0-4.826-1.311-13.514,1.206-17.79c1.963-3.336,7.194-4.822,9.678-7.985c3.121-3.973,5.047-9.129,7.144-13.691   c5.17-11.251,10.412-22.251,12.908-34.433c1.961-9.57,2.767-18.853,3.202-28.572c0.599-13.396,1.054-26.817,0.487-40.223   c-0.55-12.994-3.909-25.58-7.409-38.035c-1.904-6.778-3.806-13.54-5.999-20.231c-0.964-2.939-2.891-5.927-3.269-8.646   c-0.636-4.579-1.024-9.324-2.415-13.754c-1.314-4.188-4.14-7.597-5.748-11.632c-2.339-5.867-2.289-12.422-3.028-18.608   c-0.518-4.336-1.721-8.308-3.411-12.323c-1.907-4.529-4.135-8.984-6.827-13.103c-0.585-0.895-2.871-3.142-2.502-4.078   c0.584-1.483,1.196-2.957,1.808-4.43c1.381-3.321,2.704-6.702,4.293-9.932c2.106-4.298-4.088-10.987-6.422-13.926   c-3.794-4.777-6.534-10.257-9.545-15.546c-1.57-2.758-3.548-5.112-5.415-7.676c-2.536-3.482-0.769-9.599-0.719-13.729   c0.066-5.46-0.587-10.184-3.333-14.942c-1.731-3.001-3.412-5.939-4.625-9.194c-6.342-17.008-11.896-34.495-29.212-43.476   c-4.3-2.23-7.358-4.904-12.397-5.133c-4.101-0.186-7.604-0.386-11.247-2.558c-2.126-1.267-0.908-2.308-1.635-4.348   c-0.667-1.872-3.187-1.527-4.724-1.463c-1.966,0.08-4.284,0.947-4.398-1.292c-0.118-2.325-0.425-4.73,0.026-7.039   c0.699-3.576,5.71-6.132,5.25-9.825c-0.287-2.3-2.314-3.747-3.584-5.49c-1.356-1.862-1.938-4.195-2.256-6.44   c-0.132-0.928-0.913-11.774-0.041-11.774c2.023,0,3.79,0.954,5.879,0.552c2.136-0.411,3.894-1.851,5.402-3.329   c2.859-2.799,7.14-2.037,10.858-2.037c6.264,0,12.528,0,18.792,0c6.085,0,12.171,0,18.256,0c4.801,0,6.935,0.05,10.938-3.354   c3.62-3.077,7.835-6.646,12.9-6.646c2.42,0,4.841,0,7.262,0c2.532,0,5.296,0.311,7.811-0.116c2.497-0.424,4.694-2.005,7.207-2.285   c2.451-0.273,4.864,0.169,7.377-0.254c3.511-0.588,6.252,0.265,9.688,0.618c2.644,0.272,5.178-0.412,7.777-0.751   c4.271-0.557,8.451,0.557,12.625,1.354c3.246,0.62,4.849,2.488,7.403,4.367c2.146,1.579,4.549,2.762,6.699,4.333   c4.779,3.495,9.052,8.247,13.35,12.325c1.869,1.773,4.102,3.374,4.052,6.167c-0.026,1.48-0.119,2.958-0.119,4.439   c0,2.889,0,5.778,0,8.667c0,3.203,0.311,5.973,3.156,7.941c2.609,1.805,4.814,6.632,8.427,5.51c2.51-0.784,2.746,8.458,2.836,9.899   c0.12,1.914,0.435,3.679,0.702,5.565c0.366,2.586-1.32,2.856,1.459,4.347c2.217,1.189,3.661,2.252,3.618,4.776   c-0.043,2.504,0.513,4.532,1.819,6.666c2.355,3.851,8.456,1.649,11.983,0.863c0,6.9-0.624,14.038-0.199,20.903   c0.336,5.425,5.442,8.216,8.859,11.991c3.598,3.975,9.037,9.365,10,14.851c0.45,2.561,0.283,5.195,0.685,7.767   c0.372,2.383,1.425,4.521,1.891,6.845c0.729,3.63,1.542,7.52,1.644,11.239c0.153,5.614-0.563,10.752,0.272,16.392   c0.401,2.708,0.914,5.489,2.122,7.97c0.798,1.638-1.365,2.959-2.405,4.269c-2.796,3.519-3.87,7.236-3.87,11.712   c0,2.116-0.662,5.332,0.127,7.336c0.756,1.919,4.239,2.327,5.906,2.766c0.189,1.806,0.008,3.685-0.096,5.49   c-0.106,1.837-0.251,3.672-0.385,5.507c-0.166,2.275-1.414,2.876-3.075,4.344c-3.661,3.235-6.397,8.466-7.24,13.249   c-0.84,4.768-0.939,7.479-5.383,10.316c-3.757,2.397-9.437,1.846-12.526,5.372c-1.919,2.191-1.612,7.747-0.104,10.198   c1.809,2.938,5.413,2.603,6.729,6.028c1.361,3.545,2.088,7.362,2.814,11.077c1.685,8.622,2.779,17.313,4.399,25.927   c-5.272,0.079-10.535,0.328-15.809,0.328c-5.849,0-9.907-1.858-14.766-4.923c-4.371-2.755-8.591-4.72-13.537-6.202   c-1.045-0.313-11.21-4.665-9.607-0.777c1.871,4.535,3.069,9.354,4.272,14.1c0.768,3.029,4.333,10.764,2.017,13.238   c-2.912,3.11-3.847,11.403-1.995,15.214c1.68,3.456,7.618,1.345,10.505,2.208c2.712,0.812,4.642,6.375,4.493,8.862   c-0.276,4.591-0.834,9.243-1.894,13.723c-0.939,3.972-3.687,6.937-4.964,10.749c-1.369,4.084-2.813,7.965-5.56,11.35   c-2.497,3.076-5.241,4.473-3.319,8.947c1.163,2.708,2.897,6.514,6.172,6.785c2.856,0.237,6.602,0.074,8.749-2.016   c1.139-1.108,3.855-4.714,5.747-3.265c1.684,1.291,2.387,3.872,3.549,5.593c2.036,3.016,4.427,3.106,7.685,3.106   c1.464,0,2.929,0,4.393,0c0.168,0,1.565,3.403,1.768,3.72c1.395,2.184,3.13,4.13,4.457,6.358c1.424,2.394,2.022,2.116,4.336,0.824   c1.083-0.604,5.118-2.776,6.204-1.276c0.652,0.901,0.937,2.403,1.394,3.425c1.624,3.629,3.468,7.211,5.644,10.541   c2.443,3.739,6.184,6.196,8.924,9.706c1.254,1.606,3.525,3.862,3.049,6.059c-0.499,2.304-1.896,4.303-2.595,6.541   c-1.722,5.507-4.044,10.768-7.056,15.693c-1.477,2.416-3.011,4.954-4.884,7.085c-1.62,1.843-3.514,3.559-4.553,5.828   c-4.371,9.536,10.862,12.052,16.646,12.052c2.867,0,5.566-0.081,8.301-0.992c2.777-0.925,3.426-0.554,3.165,2.249   c-0.278,2.98-2.309,8.373-0.803,11.164c0.803,1.488,2.257,0.526,3.107,2.331c0.8,1.696,1.322,3.712,2.818,4.97   c1.537,1.291,3.659,0.61,5.397,1.543c2.19,1.174,4.064,2.916,6.14,4.276C360.938,526.655,359.627,528.221,358.192,529.674z    M200.211,510.604c0.385-0.186,0.585-0.158,0.6,0.083C200.611,510.659,200.411,510.631,200.211,510.604z')
								g#Nova_Scotia
									title Raúl Odar Cabrejos, alcalde de Carmen de la Legua-Reynoso
									desc
										image(xlink:href='reynoso.jpg', alt='A lighthouse at dusk, shot from below, with rocks in the foreground')
										p
											| Cuestionado porque su constructora Vama fue proveedora del municipio de Carmen de la Legua y del Gobierno Regional del Callao, en ambos casos durante las gestiones de Moreno. Cuando cobraba al Gobierno Regional, Odar era regidor del distrito por Chimpum.
									path(d='M343.292,500.608c-0.268,2.802-2.705,12.805,0.063,14.581c2.417,1.552,4.798,1.8,3.399,4.648c-1.596,3.25-2.503,2.714-6.086,3.119c-11.256,1.271-22.494,2.705-33.736,4.086c-0.145-5.021-0.325-10.04-0.325-15.064c0-3.739,5.724-6.603,8.88-7.797c5.498-2.082,8.951-2.968,14.864-2.612C334.183,501.799,340.311,503.813,343.292,500.608z')

								g#Northwest_Territories
									title Ivan Rivadeneyra Medina, alcalde Bellavista
									desc
										image(xlink:href='bellavista.jpg', alt='Rust-red houseboats on a blue river')
										p
											| Directivo de Chimpum, según registro en el JNE. Es investigado por presunta malversación de fondos. Según la Procuraduría Anticorrupción del Callao, malversó de gratificaciones de trabajadores municipales y descuentos a funcionarios por un préstamo de cooperativas.
									path(d='M330.824,532.991c0.286,7.813,0.908,15.633,0.369,23.436c-0.389,5.623-15.277,3.706-19.313,3.983c-15.095,1.033-29.804,3.354-44.794,5.185c-10.722,1.312-21.45,2.569-32.179,3.824c-0.646,0.074-5.498,1.042-5.679,0.408c-1.217-4.272-2.404-8.066-2.604-12.491c-0.29-6.44,3.672-5.425,8.826-6.396c9.272-1.744,18.544-3.489,27.817-5.234C285.786,541.467,308.305,537.229,330.824,532.991z')
								g#Nunavut
									title Patricia Chirinos Venegas, alcaldesa de La Perla
									desc
										image(xlink:href='laperla.jpg', alt='Yellow buildings against a frozen ocean')
										p
											| Renunció a Chimpum en febrero último. Cuestionada porque su municipio recibió donaciones de Odebrecht. Según el municipio, fueron por daños al distrito por la Costa Verde del Callao. Aspira a la alcaldía provincial. Llegó a Chimpum luego de estar en MAR Callao, de su padrastro Rogelio Canches, entonces opositor a Chimpum.
									path(d='M293.496,561.787c-1.295,4.193-2.205,7.317-2.205,11.667c0,1.142,0.613,4.277,0.263,5.344c-0.513,1.561-2.531,3.015-3.466,4.429c-2.183,3.303-4.676,6.216-8.086,8.273c-2.67,1.611-8.444,4.777-7.43,8.5c-16.948-7.275-32.478-17.714-49.534-24.675c2.777-0.191,5.553-0.383,8.33-0.573c-0.689-1.561-1.38-3.119-2.07-4.68C250.643,567.342,272.093,563.832,293.496,561.787z')
								g#Ontario
									title José Risi, alcalde de La Punta
									desc
										image(xlink:href='lapunta.jpg', alt='Old buildings of Parliament Hill reflected in a curve of the Ottawa river during fall')
										p
											| Es el único alcalde de un distrito chalaco que no fue elegido por Chimpum en los comicios del 2014. Ganó como candidato del PPC (Partido Popular Cristiano). Entonces, era secretario distrital del PPC. Antes postuló por MAR Callao, grupo de Rogelio Canches, sin éxito. 
									path(fill='#4f909b' d='M169.464,565.465c-1.171,1.075-2.469,2.819-3.869,3.55c-1.617,0.846-3.384,0.653-4.955,1.719c-4.145,2.812-5.418,0.81-8.309-2.667c-3.989,3.771-8.587,9.01-10.333,14.271c-0.355,1.062,0.514,3.815,1.458,4.371c1.7,1,1.428-0.077,3.277-0.973c2.426-1.177,2.884-1.743,5.798-1.397c1.448,0.171,1.548,2.323,2.849,2.584c4.18,0.836,8.285,0.266,12.475-0.398c4.195-0.665,5.652-2.74,7.458-6.55c1.287-2.717-2.237-6.125,0.245-8.442C177.573,569.651,170.334,565.985,169.464,565.465z')
								g#Prince_Edward_Island.active
									title Omar Marcos Arteaga, alcalde de Ventanilla
									desc
										image(xlink:href='ventanilla.jpg', alt='A beach boardwalk through pink grass')
										p
											| Renunció a Chimpum en el 2015, alegando falta de apoyo del Gobierno Regional, pero otro motivo sería que la alianza con Vamos Perú evitó que tiente la alcaldía provincial. Alista su grupo Fuerza Chalaca con miras a la provincial. Es investigado por presunto enriquecimiento ilícito: según la fiscalía, tiene desbalance patrimonial de S/ 663 mil.
									path(d='  M212.89,281.777c-1.269-8.15-1.616-15.623-5.767-22.759c-3.852-6.621-0.903-15.052-2.399-22.221  c-1.22-5.849-4.728-15.535-8.889-19.627c-7.198-7.076-0.583-11.734,2.18-19.188c1.93-5.205-7.855-14.014-10.208-18.149  c-2.352-4.131-4.703-8.263-7.055-12.394c-1.081-1.901-5.178-6.021-5.178-7.734c0-6.022,1.619-16.823-1.439-22.164  c-4.427-7.731-7.391-14.708-10.37-23.118c-5.424-15.318-13.064-26.862-25.312-37.569c-2.515-2.2-4.838-1.717-7.635-3.636  c-4.686-3.213-6.151-3.308-11.897-3.308c-2.532,0-8.013-1.511-8.013-4.122c0-2.664,0.435-2.685-2.206-2.685  c-0.826,0-6.303,0.373-6.303-0.319c0-5.15-0.369-6.683,2.98-10.481c3.117-3.534,4.107-4.205,0.456-8.016  c-3.84-4.008-3.436-5.215-3.436-10.861c0-5.263,4.056-0.943,7.731-2.489c3.967-1.668,3.84-4.939,8.521-4.939  c4.258,0,8.515,0,12.774,0c7.057,0,14.113,0,21.17,0c3.726,0,7.452,0,11.177,0c1.896,0,6.671-5.169,8.837-6.325  c2.596-1.385,6.278-4.675,9.206-4.675c4.265,0,8.531,0,12.796,0c2.965,0,6.225-2.511,9.044-2.037  c4.159,0.7,8.187,1.611,12.282,2.611c3.206,0.782,5.598-0.905,8.771-1.492c5.22-0.964,6.995-0.637,11.994,0.382  c2.905,0.592,5.609,0.608,8.165,3.145c3.06,3.038,6.121,6.082,9.181,9.119c3.638,3.61,7.293,7.226,10.931,10.837  c2.972,2.949,2.521,3.871,2.521,8.312c0,3.416,0,6.831,0,10.246c0,5.138,3.22,4.083,5.629,8.002  c0.391,0.635,2.167,2.167,1.996,3.083c-0.853,4.558-8.991,11.085-7,13.292c0.484,0.536-15.964,1.464-21.125,7.938  c-2.921,3.664-3.25,3.375-4.75,10c-1.472,6.502-0.5,15.5,0.625,15.938c1.175,0.457,4.491,0.104,7.938-2.188  c3.511-2.335,5.972-5.808,5.313-4.688c1.256,0.478,0.006,5.291,1.063,8.813c0.893,2.978,4.096,4.722,5.063,5.313  c0.679,0.414,9.366-5.903,15.813-13.313c3.414-3.924,5.005-8.102,6.875-9.875c0.95-0.901,1.718-2.997,1.842-2.756  c1.264,2.454,1.521,4.1,4.723,3.541c2.727-0.475,5.998-0.935,7.998-1.543c0,3.992,0,7.983,0,11.975  c0,2.039-1.052,10.971,0.42,12.313c5.554,5.066,10.111,10.348,14.094,16.302c2.842,4.251,2.377,5.599,2.766,10.646  c0.156,2.027,0.723,4.813,1.58,6.787c1.017,2.343,0.203,5.391,1.385,7.366c0.629,1.05,0.586,6.213,0.607,7.676  c0.031,2.117-0.833,4.465-0.504,6.536c0.605,3.826,1.5,8.604,2.625,12.278c1.652,5.396,2.282,5.933-1.032,10.422  c-3.144,4.257-4.94,6.168-4.94,11.968c0,2.186,0,4.372,0,6.558c0,0.89,4.035,1.762,4.886,2.076c0.929,0.342,0.458,3.925,0.458,4.857  c0,1.968-1.868,2.852-3.296,4.114c-3.044,2.69-6.435,9.051-6.435,13.182c0,4.746-2.588,7.092-6.467,9.388  c-2.972,1.761-7.09,3.505-8.736,6.799c-2.074,4.144-1.518,8.845-1.334,13.262c0.225,5.418-0.278,6.219,4.778,8.299  c3.58,1.473,4.709,4.49,5.625,8.117c1.952,7.727,2.216,15.402,3.884,23.402c-4.336,0-8.672,0-13.006,0  c-3.906,0-10.086-4.889-13.633-6.574c-4.021-1.912-8.15-3.719-12.23-5.502c-3.28-1.433-7.599-1.115-10.458-2.73  c-4.115-2.327-8.907-4.545-12.179-8.097c-1.451-1.575-2.502-3.828-3.678-5.619c-1.229-1.873-4.089-2.669-6.035-3.682  c-2.811-1.462-10.284-0.03-13.587,0.056c-5.533,0.145-7.748-0.078-11.255,4.109C213.513,283.27,213.018,282.512,212.89,281.777z')
								g#Mi_Peru
									title Reynaldo Encalada, alcalde de Mi Perú
									desc
										image(xlink:href='miperu.jpg', alt='A lighthouse at dusk, shot from below, with rocks in the foreground')
										p
											| El primer alcalde del nuevo distrito chalaco, tampoco elegido por Chimpum. Ganó como postulante de Alianza para el Progreso (APP) en el 2015, cuando se hizo el primer proceso para elegir al burgomaestre de esta jurisdicción reconocida como distrito. Antes fue alcalde del entonces centro poblado de Nuestra Señora de las Mercedes-Mi Perú.

									path(fill='#4f909b' d=' M279.917,84.083c0.954-0.954,1.005-3.589,1.083-4.917c0.167-2.833,0.947-5.295,0.917-7c-0.02-1.123-0.616-4.711-1.68-5.371  c-0.631-0.392-3.636-0.747-4.083-0.167c-2.293,2.978-5.098,6.534-6.941,9.828c-0.829,1.481-0.366,3.504-1.65,4.294  c-1.476,0.908-5.303,0.75-6.563,1.25c-6.81,2.692-12.679,1.431-16.42,9.661c-1.912,4.205-3.321,7.084-3.608,11.634  c-0.293,4.595-0.345,8.402,2.153,11.58c6.016-0.303,8.997-3.649,13.407-7.699c0.244,2.111-0.488,6.826,0.642,8.59  c1,1.562,1.438,2.638,2.44,4.201c0.934,1.456,2.859,1.46,4.485,0.794c6.433-2.63,9.221-8.202,14.03-13.214  c1.868-1.946,3.363-4.316,4.986-6.464c1.511-2.004,1.552-2.441,2.456-4.621c1.433-3.46,1.031-6.155-1.5-7.75  c-2.336-1.47-2.907-2.214-5.583-1.917C278.891,85.13,279.511,85.749,279.917,84.083z')
						.col-md-4.col-sm-7(style=" padding-top: 30px;")
							#provinceInfo
								img(src='images/ventanilla.jpg', alt='A beach boardwalk through pink grass')
								h3 Omar Marcos Arteaga, alcalde de Ventanilla
								p
									| Renunció a Chimpum en el 2015, alegando falta de apoyo del Gobierno Regional, pero otro motivo sería que la alianza electoral con Vamos Perú evitó que tiente la alcaldía provincial. Alista su grupo Fuerza Chalaca con miras a la provincial. Es investigado por presunto enriquecimiento ilícito: según la fiscalía, tiene desbalance patrimonial de S/ 663 mil.
		
		footer
			.container
				.row
					.col-md-6
						.logo-creditos
							img(src='images/logo-callao-01.png', width='50%')
							hr
							img(src='images/logo_lr.png', width='200px')

					.col-md-6
						h4 Periodista
						a(target="_blank" href="https://twitter.com/dperedaz")
							p David Pereda

						h4 Diseño y Desarrollo web
						a(target="_blank" href="https://twitter.com/solcuya")
							p Tania Cuya

						h4 Inofografista
						a(target="_blank" href="http://infosaleman.blogspot.pe/")
							p Luis Alemán

		script(src='./js/jquery.min.js')
		script(src='./js/wow.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/main.js')




